/* Reseteoo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: Verdana, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    color: #333;
    line-height: 1.6;
}

/* HEADER////////////////////////////////////////////////////////////////////////////////////////////// */
header {
    background: linear-gradient(135deg, #0f0f0f, #fff, #d8d3d3, #dda90dab);
    color: #fff;
    padding: 8px 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.navbar {
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    padding: 14px 0;
    z-index: 1000;
}

.nav-container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.logo {
    font-size: 1.8em;
    color: #f2c22d;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
}

.logo:hover {
    cursor: pointer;
    color: #efeeea;
    transform: scale(1.1);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease, padding-bottom 0.3s ease;
    padding-bottom: 5px;
}

.nav-links a:hover {
    color: #f2c22d;
}

.nav-links a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #dda90d;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-links a:hover::after {
    transform: scaleX(1);
}

/* HERO////////////////////////////////////////////////////////////////////////////////////////////////// */
.hero {
    background: url(../assets/fondo1.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
    position: relative;
}

.hero h1 {
    font-size: 3.5em;
    margin-bottom: 15px;
    letter-spacing: 1px;

}

.hero-pro {
    color: #032627;
    border-radius: 5px;
    padding: 8px;
    background: linear-gradient(135deg, #efb42c, #e4d8a3, #fdd15b);
}

.hero p {
    font-size: 1.4em;
    margin-bottom: 55px;
    line-height: 1.4;
}

button {
    box-shadow: 5px 5px 10px rgb(52, 51, 51);
    background: linear-gradient(135deg, #efb42c, #e4d8a3, #fdd15b);
    border: none;
    color: #032627;
    padding: 15px 30px;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease, transform 0.3s ease;
}

button:hover {
    background: linear-gradient(135deg, #51504f, #60605c, #2d2d2d);
    transform: scale(1.04);
    color: #fdd15b;
}

button:focus {
    outline: none;
}

/* API Coingecko//////////////////////////////////////////////////////////////////////////////////////// */
.section-criptos {
    background: linear-gradient(150deg, #0b1a14d1, #302e2e, #06120ed1);
    width: 100%;
    padding: 14px 5px;
    z-index: 1000;

}

.navbar-criptos ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.navbar-criptos li {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    color: rgb(101, 226, 101);
    font-weight: bold;
    text-align: center;
}

.img-cripto {
    width: 30px;
    height: 30px;
}

#errorCriptos,
#errorCotizaciones {
    color: rgb(59, 235, 5);
    font-weight: bold;
}


/* ANIMACION/////////////////////////////////////////////////////////////////////////////////////////*/
.animacion-section {
    position: relative;
    overflow: hidden;
}

.animacion-section::before,
.animacion-section::after {
    content: '';
    position: absolute;
    height: 1px;
    background-color: lightgreen;
}

.animacion-section::before {
    top: 0;
    left: 0;
    width: 100%;
    animation: moveTop 18s linear infinite;
}

.animacion-section::after {
    bottom: 0;
    left: 0;
    width: 100%;
    animation: moveBottom 18s linear infinite;
}

@keyframes moveTop {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(100%);
    }
}

@keyframes moveBottom {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-100%);
    }
}



/**CARRITO////////////////////////////////////////////////////////////////////////////////////////////*/
.section-cursos {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #646261, #eaeacc, #b6b1b1, #d3d3d1, #eaeacc);
    padding: 50px;
    height: 480px;

}

.container-curso {
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 280px;
    border-radius: 10px;
    padding: 20px;
    background: linear-gradient(150deg,#2d3741 , #2e61856f,#424f5f, #2d3741, #2d3741,#2d3741,#2d3741,#2d3741,#2d3741);
}

.color {
    color: wheat;
}

.container-curso h3,
.off {
    color: #fdd15b;
}

.container-carrito {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    background: linear-gradient(150deg,#2d3741 ,#424f5f, #2d3741, #2d3741,#2d3741,#2d3741,#2d3741,#2d3741);
}

.container-registrate {
    display: flex;
    align-items: center;
    gap: 30px;
}

.container-registrate .correo {
    background-color: rgb(240, 239, 237);
    padding: 8px;
    width: 180px;
    border-radius: 10px;
}

.container-button-carrito {
    display: flex;
    align-items: center;
    gap: 50px;
}

.btn-black {
    box-shadow: 5px 5px 10px rgb(52, 51, 51);
    background: linear-gradient(135deg, #51504f, #60605c, #2d2d2d);
    border: none;
    color: #fdd15b;
    padding: 10px 30px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px 5px 0px 0px;
    transition: background 0.3s ease, transform 0.3s ease;
}

.btn-black:hover {
    background: linear-gradient(135deg, #efb42c, #e4d8a3, #fdd15b);
    transform: scale(1.04);
    color: #032627;
}

.error-cursos-text {
    font-weight: bold;
    font-size: 2.3em;
}

/* MODAL /////////////////////////////////////////////////////////////////////////////////////////////////*/
.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(150deg, #2e3331d1, #4a4847, #484848d1);
    width: 39%;
    height: 100%;
    position: fixed;
    top: 0;
    padding: 5px;
    right: -100%;
    transition: right 0.6s ease;  
    z-index: 2000;

}

.modal-container.active {
    right: 0;
}

.cabecera-modal {
    display: flex;
    background: linear-gradient(135deg, #646261, #eaeacc, #b6b1b1, #d3d3d1, #eaeacc);
    justify-content: space-between;
    padding-left: 5px;
    border-radius: 0px 8px 0px 0px;
}

.contenido-carrito {
    display: flex;
    justify-content: space-between;
    color: wheat;
    padding: 10px 5px 0px 5px;
    border-bottom: 2px solid lightgreen;
}

.p-light {
    font-weight: bold;
    font-size: 1.3em;
    cursor: pointer;
    color: rgba(255, 42, 0, 0.961);
    padding-right: 5px;

}
.total-compra {
    display: flex;
    background: linear-gradient(135deg, #646261, #eaeacc, #b6b1b1, #d3d3d1, #eaeacc);
    justify-content: space-between;
    padding-left: 5px;
    color: black;
    border-radius: 0px 8px 0px 0px;
}


/*Formulario de pagoo////////////////////////////////////////////////////////////////////////////////////*/
.cabecera-modal-form {
    display: flex;
    background: linear-gradient(135deg, #646261, #eaeacc, #b6b1b1, #d3d3d1, #eaeacc);
    justify-content: space-between;
    align-items: center;
    margin-left: -5px;
    padding-left: 5px;
}

.contenido-carrito-form {
    display: flex;
    flex-direction: column;
    padding: 15px 5px 10px 5px;
    color: #474746;
}

.formulario-pago input,
select {
    padding: 3px;
    margin: 3px;
}

.formulario-pago {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #faf7f7;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-weight: bold;
    font-size: 1.1em;
    padding: 0px 0px 5px 5px;
}

.formulario-pago .pago {
    width: 30%;
}


/* test de inversor /////////////////////////////////////////////////////////////////////////////////////*/
.container-test-up {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    gap: 50px;
    padding: 100px 110px 20px 110px;
}


.container-test-up img {
    border-radius: 10px;
    background-size: cover;
    max-width: 400px;
    height: 300px;
}

.container-test-up h3 {
    font-size: 2.4em;
    margin-bottom: 20px;
}

.inversor-color {
    color: #e2aa10;
}
.container-test-up p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #242323;
    line-height: 1.7;
}
.container-test-down {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: 0 auto;
    padding: 40px 110px 10px 110px;
}
.container-test-down h4 {
    color: #e2aa10;
    font-size: 1.9em;
    margin-bottom: 12px;
}

.container-test-down p {
    font-size: 1.1em;
    margin-bottom: 30px;
    color: #242323;
    line-height: 1.7;
}

.container-test-down .btn-down {
    display: flex;
    justify-content: right;
    margin: 0px 85px 40px 0px;
}

/*TEST DEL INVERSOR - STYLE*/
.hidden {
    display: none;
}
.test-del-inversor-class {
    background: linear-gradient(135deg, #646261, #686862, #474747);
    padding: 30px 110px;
}
.test-del-inversor-class h5 {
    background: linear gr;
    color: #e2aa10;
    font-size: 1.9em;
    margin-bottom: 12px;
}

.container-pregunta {
    margin: 30px 0;
}

.container-pregunta input {
    margin: 13px 0;
}

.container-pregunta label {
    font-size: 1.1em;
    color: #e4dede;
}

/* About -Sobre Nosotros//////////////////////////////////////////////////////////////////////////////////////// */
.about-contenido {
    background-color: #252525;
    background: linear-gradient(135deg, #b9b7b7, #c4c4c4, #706f6f);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 100px 60px;
    animation: slideInUp 1.5s ease-out;
}

.about-texto {
    width: 50%;
    padding-right: 20px;
}

.about-texto h2 {
    font-size: 2.5em;
    margin-bottom: 25px;
    color: #141313d1;
}

.about-texto p {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 20px;
    color: #294237d1;
    line-height: 1.8;
}

.about-texto-pro {
    background: linear-gradient(135deg, #efb42c, #e4d8a3, #fdd15b);
    padding: 1px 2px;
    color: #0d0d0dd1;
}

.about-img img {
    border-radius: 10px;
    background-size: cover;
    width: 400px;
    height: 280px;
}

/*Cotizaciones///////////////////////////////////////////////////////////////////////////////////////////*/
.section-cotizaciones {
    background: linear-gradient(150deg,#2d3741 ,#424f5f, #2d3741, #2d3741,#2d3741,#2d3741,#2d3741,#2d3741);
    width: 100%;
    padding: 14px 0;
    z-index: 1000;
}

.navbar-cotizaciones {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
}


.navbar-cotizaciones li {
    display: inline;
    margin-right: 50px;
}

.navbar-cotizaciones a {
    font-size: 1em;
    text-decoration: none;
    font-weight: bold;
    color: rgb(101, 226, 101);
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navbar-cotizaciones a:hover {
    cursor: pointer;
    background-color: #4f4b4b;
}


#section-cotizaciones {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.navbar-cotizaciones {
    display: flex;
    animation: scroll 60s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(-80%);
    }

    100% {
        transform: translateX(100%);
    }
}

/*Reportes///////////////////////////////////////////////////////////////////////////////////////////////*/
.reportes {
    padding: 60px 40px;
    background: linear-gradient(135deg, #223a2f35, #ffffff, #f9f9f9, #223a2fd1);
}

.reportes-header {
    text-align: center;
    margin-bottom: 40px;
}

.reportes-header h2 {
    font-size: 2.4em;
    margin-bottom: 10px;
    color: #223a2fd1;
}

.reportes-header p {
    font-size: 1.2em;
    color: #666;
}

.reportes-contenedor {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
}

.reporte-item {
    display: flex;
    flex-direction: row;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

.reporte-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
}

.reporte-imagen {
    background-image: url(../assets/fondo2.jpg);
    background-size: cover;
    background-position: center;
    width: 40%;
    height: 200px;
}

.reporte-info {
    padding: 20px;
    width: 60%;
}

.reporte-info h3 {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #223a2fd1;
}

.reporte-info p {
    font-size: 1.1em;
    color: #666;
    margin-bottom: 15px;
}


/*Footer//////////////////////////////////////////////////////////////////////////////////////////////*/

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    font-family: Arial, sans-serif;
}

footer h4 {
    color: #e2aa10;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-links,
.footer-contact,
.footer-newsletter {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links a,
.footer-contact a {
    color: #fff;
    text-decoration: none;
}

.footer-links a:hover,
.footer-contact a:hover {
    text-decoration: underline;
}

.footer-newsletter input {
    width: 80%;
    padding: 8px;
    margin-right: 5px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
}

.social-icons img {
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

/* /*MEDIA QUERIES*/
@media only screen and (max-width : 992px){
    .nav-container {
        flex-direction: column;
        padding: 15px;
    }
}


@media only screen and (max-width : 786px){
    .nav-container .phone-no {
        display: none;
    }   
}





/* PAGE HERRAMIENTAS */

/* Section Buscador */
.section-ratios{
    display: flex;
    align-items:start;
    justify-content: center;
}

.container-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../assets/img-herramientas/background-image-input3.jfif) no-repeat center center / cover;
    height: 250px;
    width: 100%;
}

.section-ratios input {
    width: 94%;
    margin: 15px;
    padding: 16px;
    border-radius: 9px;
    border: none;
}

input:focus {
    outline: none;
}


/* Section Ratios CEDEARs */
.container-table table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    position: sticky;
    top: 0;
    z-index: 10;
}

th {
    padding: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: gainsboro;
    font-size: 17px;
}

td {
    padding: 14px;
    background: linear-gradient(100deg, gray, rgb(84, 83, 83));
    border-bottom: 1px solid #fff;
    color: #f1eeee;
    font-weight: bold;
    text-align: center;
}
td:hover{
    background: linear-gradient(100deg, gray, rgb(142, 140, 140));
}
